spring:
  application:
    name: drivesmart-backend
  datasource:
    url: jdbc:postgresql://localhost:5432/drivesmartdb
    username: postgres
    password: 1234
    driver-class-name: org.postgresql.Driver
  jpa:
    hibernate:
      ddl-auto: create
    show-sql: true
    properties:
      hibernate:
        dialect: org.hibernate.dialect.PostgreSQLDialect
        format_sql: true
  security:
    jwt:
      secret: your-secret-key-here-very-long-and-secure
      expiration-ms: 86400000  # 1 kun

server:
  port: 9080
  error:
    include-message: always

springdoc:
  api-docs:
    path: /api-docs
  swagger-ui:
    path: /swagger-ui.html
    operations-sorter: method
  show-actuator: true

logging:
  level:
    org.springframework: INFO
    uz.drivesmart: DEBUG